html {
    font-size: 8vw;
}

#loading_window {
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 2;
    position:fixed;
    background:white;
    opacity: 1;
    visibility:visible;
}

#loading_window svg {
    animation: rotate_icon 3s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
    position: relative;
    margin: 0 auto;
    display: block;
    height: 15vh;
    width: 15vh;
    top: 42.5%;
}

#loading_window span {
    position: absolute;
    text-align: center;
    font-weight: 300;
    font-size: 4vh;
    color: #CCC;
    bottom: 30%;
    width: 100%;
}

@keyframes rotate_icon {
    0% {
        transform:rotate(0deg);
    } 100% {
        transform:rotate(720deg);
    }
}

body, p, h1, h2, h3, h4, h5, h6, span {
    cursor: default;
    margin: 0;
}

h1, h3, #cta span {
    font-family: 'Satisfy', cursive;
    font-weight: 100;
}

body {
    background-image: url(assets/bg.jpg);
    font-family: 'Roboto', sans-serif;
    background-repeat: no-repeat;
    background-position: 85% top;
    background-size: auto 100vh;
    overflow-x: hidden;
    color: #00AACA;
    font-size: 8vh;
}

h1, h2 {
    font-weight: 300;
    margin: 0 auto;
}

h1 {
    line-height: 1.4rem;
    text-align: center;
    font-size: 1.6rem;
    padding-top: 3vh;
    color: white;
    display: block;
    left: 8vw;
    top: 3%;
    right: 0;
}

    h1 span {
        font-size: 0.9rem;
        display: inline-block;
        transform: translateX(-12vw);
    }

h2, #cta span, h3, p {
    margin-left:auto;
    margin-right: auto;
}

#cta span {
    width: 60vh;
}

p {
    width: 85%;
}

h2 {
    text-align: center;
    margin-bottom: 9vh;
    font-size: 3.4vh;
    margin-top: 15vh;
    width: 90%;
}

h2, p {
    text-shadow: 0 0.3vh 0.3vh white;
}

p {
    margin-bottom: 3vh;
    font-weight: 300;
    font-size: 3.2vh;
    color: #8AC;
}

    b {
        font-weight: 400;
    }

    #cta span {
    text-align: center;
    line-height: 1rem;
    position:relative;
    font-size: 1rem;
    display: block;
    max-width: 100%;
}

h3 {
    font-size: 1.4rem;
    text-align: center;
}

header {
    width: 100%;
}

    header picture, header img {
        position: absolute;
        height: 38vh;
        width: 100%;
        z-index: -1;
    }

    header svg {
        display: block;
        margin: 0 auto;
        height: 4vw;
        width: 50%;
    }

.divisor {
    width: 100%;
    overflow-x: hidden;
    margin: 6vh auto -1px auto;
}

    .divisor svg {
        display: block;
    }

#contact_container {
    position: fixed;
    bottom: 5vh;
    height: 9vh;
    right: 5vh;
    width: 9vh;
}

    #contact_container a, #contact_container div {
        transition:transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(0) scale(0);
        will-change: transform;
        position:absolute;
        user-select: none;
        height: 6.2vh;
        height: 6vh;
    }

    #contact_container div {
        transition-delay: 0.1s;
    }

    #contact_container a:nth-child(3) {
        transition-delay: 0.2s;
    }

    #contact_container img {
        width: 100%;
        height: 100%;
    }

        @keyframes contact_attention {
            0% { transform:translateY(0);
            } 50% { transform:translateY(3vh);
            } 100% { transform:translateY(0);
            }
        }

    #contact_container svg {
        position: relative;
        transition:transform 0.15s ease;
        overflow: visible;
    }

    .st2, .st3 {
        animation:contact_attention 3s ease-in-out infinite;
    }

    .st2 {
        animation-delay: 0.5s;
    }

    #contact_container svg:hover {
        transform:scale(1.15)
    }

    #contact_container svg:active {
        transform:scale(1)
    }

    #contact_container span {
        display:none;
    }

.profile_img {
    display: block;
    max-width: 100%;
}

.flower_img {
    display:none;
}

.flex {
    display: flex;
    flex-direction: column;
}

#about_section {
    background:white;
}

    .post_img {
        border-radius: 2vh;
        margin: 6vh auto;
        display: block;
        width: 85%;
    }

footer {
    position: relative;
    height: 27vh;
    width: 100%;
}
    footer a:hover {
        text-decoration: underline;
    }
    
    footer span {
        font-weight: 300;
    }

    footer span, footer a {
        transform: translateY(100%);
        text-decoration: none;
        text-align: center;
        font-size: 5.2vw;
        display: block;
        color: #8AC;
    }

    #form_container {
        transition:transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        transform: translateY(-110vh);
        background: white;
        position:fixed;
        width:100%;
        top:0;
    }

    form {
        width: 90%;
        margin: 0 auto;
        padding: 4vw 0 2vw 0;
    }

    form * {
        display:block;
    }

    form span {
        color: #AAA;
        font-size: 3vw;
        text-align: center;
        text-transform: uppercase;
    }

    input {
        height: 9vw;
        max-height: 6vh;
        min-height: 30px;
    }

    textarea {
        max-width: 100%;
        height:27vw;
    }

        input, textarea {
            background: #F8F8F8;
            box-sizing: border-box;
            margin: 1vw 0 3vw 0;
            font-weight: 300;
            color: #004646;
            padding: 0 3vw;
            font-size: 5vw;
            border: none;
            width: 100%;
        }

            input:focus, textarea:focus {
                outline:none;
            }

                input::placeholder, textarea::placeholder {
                    color:#ddd;
                }

    label {
        font-size: 0.62rem;
    }

    #send_bt {
        background: #00AACA;
        border-radius: 10vw;
        font-weight: 300;
        font-size: 6vw;
        color: white;
        height: 12vw;
    }

        #send_bt, input, textarea {
            font-family: 'Roboto', sans-serif;
        }

    #outarea {
        transition:opacity 0.3s linear, visibility 0.3s linear;
        background: rgba(0, 0, 0, 0.2);
        visibility: hidden;
        position: fixed;
        opacity:0;
        bottom:0;
        right:0;
        left:0;
        top:0;
    }

    #sky_bg {
        display:none;
    }

    .great_img {
        width: 100%;
        border-radius: 0;
    }





























@media (min-width:90vh) {

    html {
        font-size: calc(5vh + 2vw);
    }

    body {
        background-position: right center;
        background-attachment: fixed;
        background-size: cover;
    }

    header picture, header img {
        height: 62vh;
    }

    h1 {
        font-size: 1.4rem;
        line-height: 1rem;    
        padding-top: 5vh;
    }

        h1 span {
            font-size: 0.62rem;
            transform: translateX(-1.7rem);
        }
    
    h2 {
        margin-bottom: 1.4rem;
        font-size: 0.62rem;
        text-align: center;
        margin-top: 1.6rem;
    }

    #cta {
        transition:background 1s ease;
    }


        #cta span {
            font-size: 0.6rem;
            line-height: 0.7rem;
        }

    header svg {
        width: 25%;
        height: 3vh;
        max-width: 30vh;
    }

    .divisor svg {
        transform: scale(1);
    }

    #contact_container {
        right: 1.6rem;
        width: 0.9rem;
        height: 0.9rem;
        bottom: 0.6rem;
        cursor: pointer;
        min-width: 7.5vh;
    }

    .divisor {
        max-width: unset;
        margin: inherit;
    }

    footer span, footer a {
        font-size: 3vh;
        transform: translateY(-50%);
    }

    footer {
        height: 11vh;
    }

    
    #contact_container span {
        transition: opacity 0.3s cubic-bezier(0, 0, 0.2, 1), transform 0.3s cubic-bezier(0, 0, 0.2, 1), visibility 0.3s cubic-bezier(0, 0, 0.2, 1);
        background: #FAFAFA;
        border-radius: 20vh;
        white-space: nowrap;
        position: absolute;
        visibility: hidden;
        text-align: right;
        display: initial;
        color: #00AACA;
        font-size: 2.6vh;
        padding: 1vh 2vh;
        right: 10vh;
        opacity: 0;
        top: 2vh;
    }

    #contact_container a:hover span, #contact_container div:hover span {
        transform: translateY(0);
        visibility: visible;
        opacity: 1;
    }

    input, textarea {
        box-sizing: border-box;
        margin: 1vh 0 2vh 0;
        font-size: 18px;
        padding: 0 2vh;
    }

    textarea {
        max-height: 27vw;
        padding-top: 2vh;
        min-width: 100%;
        height: 20vh;
    }

    label {
        font-size: 18px;
    }

    form {
        padding: 5vh 0 2vh 0;
    }

    #send_bt {
        padding-right: 9vh;
        text-align: right;
        border-radius: 0;
        font-size: 18px;
        cursor: pointer;
        font-weight: 400;
    }

        #send_bt:hover {
            background:#0087A7;
        }

    form span {
        font-size: 2vh;
        letter-spacing: 1px;
    }

    h3 {
        padding-left: 1rem;
    }
}


















@media (min-width:162vh) {

    h2 b {
        font-weight: 300;
        color: #0092B2;
    }

    .divisor svg {
        width: 100%;
        margin-top: 0;
    }

    header svg {
        width: 18%;
        height: 3vh;
    }

    
    .flex {
        flex-direction: row-reverse;
        align-items: flex-end;
        display: flex;
    }

    .profile_img {
        bottom: 0;
        min-width: 68vh;
        position: sticky;
        margin: 0 6vh 0 1vw;
        -webkit-mask-image: linear-gradient(195deg, white 62%, transparent);
    }

    h3 {
        box-shadow: 0 -1vh 1vh 1vh white;
        padding: 0vh 0 0vh 0;
        background: white;
        font-size: 0.9rem;
        text-align: left;
        margin-right: 0;
        margin-left: 0;
        width: 90%;
    }

    p:last-child {
        margin-bottom: 30vh;
    }

    #profImg {
        transition:transform 1s cubic-bezier(0, 0, 0.2, 1), opacity 2s ease;
        will-change: transform, opacity;
        transform:translateX(-10%);
        opacity:0;
    }

    .post_img {
        border-radius: 1vh;
        object-fit: cover;
        max-width: 74%;
        margin: 6vh 0;
    }

    .shadow_img {
        box-shadow: 0 2vh 2vh #EEE;
    }

    p {
        width: auto;
        margin-right: 17vw;
        text-align: justify;
    }

    #absolute_footer {
        position: absolute;
        width: 100%;
    }

    
    .flower_img {
        transform:translateX(-2vh);
        position: absolute;
        max-height: 62vh;
        display:initial;
        bottom: 0;
        left: 0;
    }

    @keyframes flower_move {
        from {
            transform:translateX(-2vh);
        } to {
            transform:translateX(0);
        }
    }

    #form_container {
        box-shadow: 0 3vh 7vh #9BC;
        border-radius: 0 0 2vh 2vh;
        margin: 0 auto;
        width: 38%;
        left: 0;
        right: 0;
    }

    textarea {
        max-height: 45vh;
        min-height: 15vh;
        height: 25vh;
    }

    #send_bt, input, textarea, label {
        font-size: 3vh;
    }

    #outarea {
        background: rgba(255, 255, 255, 0.6);
    }

    #sky_bg {
        position: absolute;
        display:initial;
        width: 30vw;
    }
}

















@media screen and (max-height:400px) and (orientation:landscape) {
    #contact_container {
        right: 2rem;
        bottom: 1rem;
        width: 1.6rem;
        height: 1.6rem;
    }

    h1 {
        font-size: 1.8rem;
        line-height: 1.5rem;
    }

    h2 {
        font-size: 0.7rem;
    }

    #cta span {
        font-size: 0.8rem;
        line-height: 0.9rem;
    }

    #contact_container a, #contact_container div {
        height:10vh;
        margin-bottom:2vh;
    }

    #profImg {
        opacity: 1;
        transform: translateX(0);
    }

    #form_container {
        width: 100%;
    }
    
    #send_bt, input, textarea, label {
        font-size: 16px;
        font-weight:300;
    }

}